name: KiBot Quick Start
on:
  workflow_dispatch:
  push:
    paths:
      - '**.kicad_sch'
      - '**.kicad_pcb'
      - '.github/workflows/kibot.yml'
  pull_request:
    paths:
      - '**.kicad_sch'
      - '**.kicad_pcb'

jobs:
  build:
    runs-on: ubuntu-latest
    container: ghcr.io/inti-cmnb/kicad9_auto_full:latest
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Quick Start
        run: |
          kibot --quick-start
      
      - name: Disable Jekyll
        run: |
          touch Generated/.nojekyll
      
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: Automatic_outputs
          path: Generated
      
      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: Generated

  deploy:
    if: github.ref == 'refs/heads/main'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4