name: KiBot
on:
  push:
    paths:
      - '**.kicad_sch'
      - '**.kicad_pcb'
      - 'config.kibot.yaml'
  workflow_dispatch:

jobs:
  pcb:
    runs-on: ubuntu-latest
    container: ghcr.io/inti-cmnb/kicad9_auto_full:latest
    steps:
    - uses: actions/checkout@v4
    - uses: Nautilus-UUV/nautilus-kibot-action@main