name: KiBot
on:
  workflow_dispatch:
  push:
    paths:
      - '**.kicad_sch'
      - '**.kicad_pcb'
      - 'config.kibot.yaml'
      - '.github/workflows/kibot.yml'
  pull_request:
    paths:
      - '**.kicad_sch'
      - '**.kicad_pcb'

jobs:
  # ERC/DRC checks
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: INTI-CMNB/KiBot@v2_k9
        with:
          config: config.kibot.yaml
          dir: outputs
          schema: nautilus_mainboard.kicad_sch
          board: nautilus_mainboard.kicad_pcb
          targets: __NONE__  # Only run preflights (ERC/DRC)
      
      - name: Upload check results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ERC-DRC-Reports
          path: outputs

  # Build outputs
  build:
    runs-on: ubuntu-latest
    needs: checks
    steps:
      - uses: actions/checkout@v4
      - uses: INTI-CMNB/KiBot@v2_k9
        with:
          config: config.kibot.yaml
          dir: outputs
          schema: nautilus_mainboard.kicad_sch
          board: nautilus_mainboard.kicad_pcb
          skip: run_erc,run_drc
      
      - uses: actions/upload-artifact@v4
        with:
          name: PCB-outputs
          path: outputs
      
      - name: Disable Jekyll
        run: touch outputs/.nojekyll
      
      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: outputs

  # Deploy to GitHub Pages
  deploy:
    if: github.ref == 'refs/heads/main'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4