name: KiBot
on:
  workflow_dispatch:
  push:
    paths:
      - '**.kicad_sch'
      - '**.kicad_pcb'
      - '.github/workflows/kibot.yml'
  pull_request:
    paths:
      - '**.kicad_sch'
      - '**.kicad_pcb'

jobs:
  quick:
    runs-on: ubuntu-latest
    container: ghcr.io/inti-cmnb/kicad9_auto_full:latest
    permissions:
      contents: read
      actions: write

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: '0'
        token: ${{ secrets.NAUTILUS_CI_PAT_TOKEN }}

    - name: Quick Start
      run: |
          kibot -D --quick-start

    - name: Retrieve results
      uses: actions/upload-artifact@v4
      with:
        name: Automatic_outputs
        path: Generated

  # Deploy to GitHub Pages
  deploy:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: quick
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
    - uses: actions/checkout@v4
      with:
        token: ${{ secrets.NAUTILUS_CI_PAT_TOKEN }}

    - name: Retrieve results
      uses: actions/download-artifact@v4
      with:
        name: Automatic_outputs
        path: Generated

    - name: Disable Jekyll
      run: |
        touch Generated/.nojekyll

    - name: Upload Pages artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: Generated

    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4