name: KiBot

on:
  push:
    paths:
      - '**.kicad_sch'
      - '**.kicad_pcb'
      - 'config.kibot.yaml'
      - '.github/workflows/kibot.yml'
  pull_request:
    paths:
      - '**.kicad_sch'
      - '**.kicad_pcb'

jobs:
  kibot:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
    - uses: actions/checkout@v4

    - uses: INTI-CMNB/KiBot@v2_k9
      with:
        config: config.kibot.yaml
        dir: outputs
        schema: nautilus_mainboard.kicad_sch
        board: nautilus_mainboard.kicad_pcb

    - uses: actions/upload-artifact@v4
      with:
        name: PCB-outputs
        path: outputs

    # Upload Pages artifact
    - name: Upload Pages artifact
      if: github.ref == 'refs/heads/main'
      uses: actions/upload-pages-artifact@v3
      with:
        path: outputs

    # Deploy to GitHub Pages
    - name: Deploy to GitHub Pages
      if: github.ref == 'refs/heads/main'
      id: deployment
      uses: actions/deploy-pages@v4